<ion-header>
  <ion-toolbar>
    <ion-title>Encrypt</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Texte</ion-label>
    <ion-textarea [(ngModel)]="text" rows="4"></ion-textarea>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Key</ion-label>
    <ion-textarea [(ngModel)]="armoredKey" rows="10"></ion-textarea>
  </ion-item>

  <ion-button (click)="encrypt()">Résultat</ion-button>

  <pre class="result">{{encrypted}}</pre>
</ion-content>
